@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --green-backdrop: rgba(0, 210, 147, 0.271);
    --green-100: #1ca3a3;
    --green-200: #1be5ca;
    --green-300: #2bffe3;
}

:root {
    --font-family: "Space Grotesk", sans-serif;
    --accent-color-dark: #07d7a7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark;
}

:root {
    --container-min-width: 90%;
    --container-max-width: 97%;
    --container-margin: 0 auto;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

body {
    animation: blockScroll 2s ease-out forwards;
}

.container .container {
    min-width: var(--container-min-width);
    max-width: var(--container-max-width);
    margin: var(--container-margin);
}

@keyframes blockScroll {
    20%, 60%, 90% {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}